.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:1%;
    margin-bottom:2%;
    }
    .menu {
     display: flex;
    }
    .menu li {
      border:2px solid none;
      background-color:darkorange;
      border-radius: 25pt 25pt;;
      padding-left:3px;
      padding-right:3px;
      padding-top:3px;
      padding-bottom:3px;
        float: left;
        display: flex;
        margin-right: 20px;
    }
    a:hover {
        color:black;
    }
   
   .button_header {
   background: none;
   color:white;
   display: block;
   text-decoration:none;
   text-transform:uppercase;
   font-weight:bold;
   font-size: 12px;
   }
   a1 {
     color: black; 
   }
   h2 { 
     color:black;
   }
   .header__inner {
       background:  url(assets/img/bg1.png) no-repeat center top / cover;
       width:100%;
       height:400px;
       
   }
   .header__inner__second {
    background-color: lavenderblush;
    opacity: 0.7;
    padding-bottom: 10%;
    max-width: 80%;
    max-height: 30%;
    margin-left: 10%;
   }
   .header__text {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
   }
   .header__text2 {
     margin-top:2%;
      width: 80%;
   }
   h4 {
        color:deepskyblue;
        margin-bottom: 20px;
   }
   .our__story__inner{
     background:white;
     width:100%;
     height:400px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }
   .our__story__text {
   width: 70%;
   text-align: center;
   }
   .watch__video__inner{
     background:  url(assets/img/bg2.png) no-repeat center top / cover;
       width:100%;
       height:300px;
       display:flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   .watch__video__button {
     background:lightseagreen;
     color: #fff;
        display: block;
        border-radius: 50px 50px;;
        width: 160px;
        height: 20px;
        padding: 20px 0px;
        text-decoration: none;
        text-align: center;
   }
   .our__specialists__inner{
     padding-top:30px;
     background:white;
       width:100%;
       height:300px;
       text-align: center;
   }
   .our__specialists_columns {
     margin-top:30px;
     width: 100%;
     display: flex;
     flex-direction:row;
     justify-content:space-evenly;
   }
   .our__specialists__column__first {
       display: inline-block;
       text-align: center;
       color:black;
    }
       .our__specialists__column__second {
       display: inline-block;
       text-align: center;
       color:black;
       }
       .our__specialists__column__third {
       display: inline-block;
       text-align: center;
       color:black;
      }
      .our__specialists__column__fourth {
       display: inline-block;
       text-align: center;
       color:black;
   }
   .sell__items__inner {
     background:  url(assets/img/bg3.png) no-repeat center top / cover;
     padding-top:30px;
       width:100%;
       height:400px;
       text-align: center;
       color: white;
   }
   .sell__items__columns {
     margin-top:30px;
     width: 100%;
     display: flex;
     flex-direction:row;
     justify-content:space-around;
     align-items: center;
   }
   .gallery__inner{
     background:white;
       width:100%;
       height:400px;
       padding-top:10px;
   }
   .gallery__column {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top:10px;
     margin-bottom:10px;
   }
   .contacts__inner {
     background:  url(assets/img/bg4.png) no-repeat center top / cover;
     width: 100%;
     height: 350px;
     text-align: center;
     color: white;
   }
   .contacts__text {
     display: flex;
     flex-direction: column;
     font-size: 14px;
   }
   .footer__inner {
     background:white;
       width:100%;
       height:50px;
       display:flex;
       flex-direction:row;
       justify-content:space-evenly;
       align-items: center;
       font-size: 10pt;
   }
   .header__wrapper, .our__story__wrapper, .watch__video__wrapper,
   .our__specialists__wrapper, .sell__items__wrapper, .gallery__wrapper,
   .contacts__wrapper, .footer__wrapper {
     background-color:whitesmoke;
   }