		  <style>
   * {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
   .header__block {
    border: 4px black; /* Параметры границы */
    height:50px;
    width:100%;
    background: none; /* Цвет фона */
    padding: 20px; /* Поля вокруг текста */

   }
   .header__item {
   	display:flex;
    flex-direction: row;
    justify-content:space-around;
   }
   .collumn__one {
    border: 1px ridge black;
    height:200px;
    width:100%;
    background: #fc85; /* Цвет фона */
    padding: 0px; /* Поля вокруг текста */
    margin-bottom: px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display:inline-block;
   }  
   .collumn__one__background {
    opacity:0.6;
   }
   .collumn__one__text {
    position:absolute;
    margin-top:-150px;
    margin-left:350px;
    font-size:30pt;
   }
   .collumn__two {
   	border: 1px ridge black;
    height:900px;
    width:100%;
    background: #fc11; /* Цвет фона */
    padding: 0px; /* Поля вокруг текста */
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display:inline-block;
   }
   .collumn__two__background {
    opacity:0.7;
   }
    .collumn__three {
    border: 1px ridge black;
    height:400px;
    width:100%;
    background: #fc78; /* Цвет фона */
    padding: 0px; /* Поля вокруг текста */
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
   }
     .footer__collumn {
    height:50px;
    width:100%;
    background: #fc3; /* Цвет фона */
    display:inline-block;
    flex: 0 0 auto;
   }
   .footer__item {
   	display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 13pt;
   }
 
  </style>